/*The Univerial Footer*/

#Footer {
	position: relative;
	height: 418px;
	margin-top: 126px;
	background: rgba(105,105,105,1);
	display: flex;
	justify-content: space-between;
}

#Logo_Square {
	margin-left: 175px;
	margin-top: 175px;
	margin-bottom: 120px;
	float: left;
}

#About_Us_Sub {
	height: 332px;
	width: 316px;
	margin-top: 88px;
	margin-left: 240px;
	position: relative;
	float: left;
}

#Footer_Title{
	color: white;
}

#Footer_Text{
	color: white;
	font-size: 25px;
	margin-top: 46px;
	margin-left: 80px;
	width: 224px;
	height: 159px;
}

#Footer_Text_Second{
	color: white;
	font-size: 25px;
	margin-top: 183px;
	margin-left: 80px;
	width: 224px;
	height: 238px;
	position: relative;
	float: left;
}

.Subliner {
	position: relative;
	float: left;
	width: 2px;
	height: 200px;
	margin-left: 80px;
	margin-top: 137px;
	margin-bottom: 80px;
	background: white;
}

.Picture_Footer {
	position: relative;
	float: left;
	margin-top: 137px;
	margin-left: 110px;
	margin-right: 100px;
	width: 360px;
	height: 200px;
	background: grey;

}

#About_Us_Sum {

	width: 316px;
	height: 249px;
	left: 550px;
	top: 88px;
	overflow: visible;
}

/*
Text Button Image Style Here
*/


.Subtitle{
	font-size: 40px;
	font-weight: bold;
}

